body {
  display: inline;
  background-color: green;
  font-family: "Comic Sans MS";
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 60%;
  }
}

#playerOne, #playerTwo {
  display: block;
}

.row {
  text-align: center;
}
